<% title 'Search results' %>

<h4 class="is-size-4 mb-3 has-text-weight-bold">Albums</h4>

<% if @albums.nil? %>
  <%= render 'common/message_block', 
    message: t('search.no_results', resource: 'albums')
  %>
<% else %>
  <div class="carousel">
    <%= render partial: 'albums/album_preview', collection: @albums, as: :album_preview %>
  </div>
<% end %>

<h4 class="is-size-4 mb-3 has-text-weight-bold">Artists</h4>

<% if @artists.nil? %>
  <%= render 'common/message_block', 
    message: t('search.no_results', resource: 'artists')
  %>
<% else %>
  <div class="carousel">
    <%= render partial: 'artists/artist', collection: @artists, as: :artist %>
  </div>
<% end %>

