<footer class="footer py-4">
  <div class="content has-text-centered">
    Made with <i class="fas fa-heart has-text-danger mx-1"></i> by 
    <%= link_to 'andreaflether', 'https://github.com/andreaflether', 
      class: 'has-text-weight-semibold' %>.
  </div>
</footer>